.publicidad-horizontal img{
    height: 270px;
    width: 510px;
    display: block;
    margin: auto;
}

.fecha-post-public{
    font-size: 15px;
    color: brown;
    display: table;
    margin: auto;
}