.publicidad-horizontal{
    padding-top: 10px;
}

.publicidad-horizontal img{
    display: block;
    margin: auto;
}

.fecha-post-public{
    font-size: 15px;
    color: brown;
    display: table;
    margin: auto;
}