/* .slider-test{
    margin-top: 80px;
    margin-bottom: 80px !important;
}
.slider-test .card{
    padding: 8px;
}
.slider-test .slick-dots li button:before{
    font-size: 32px;
}
.slick-arrow:before{
    color: #000000;
    font-size: 25px;
} */

.wpsisac-image-slide-wrap img{
    width: 300px;
    height: 200px;
}

.slick-track{
    margin: auto;
    padding-top: 130px;

}

.card-slick{
    width: 250px !important;
    height: 300px !important;
    margin-left: 10px;
}

.card img{
    width: 250px;
    height: 150px;
}

.card-body p{
    height: 10px;
    max-height: 10px;
}

.card-title ul li  a{
    color: #000000;
    text-decoration: none !important;
}

.card-title ul li{
    list-style: none;
}
